parameters:
    excludePaths:
        - %currentWorkingDirectory%/frontend/config/*
        - %currentWorkingDirectory%/console/config/*
        - %currentWorkingDirectory%/frontend/views/*
        - %currentWorkingDirectory%/frontend/web/index.php
        - %currentWorkingDirectory%/frontend/tests/*
        - %currentWorkingDirectory%/console/migrations/*
        - %currentWorkingDirectory%/common/tests/_support/UnitTester.php
    customRulesetUsed: true
    bootstrapFiles:
        - %currentWorkingDirectory%/phpstan-bootstrap.php
    ignoreErrors:
    		- '#Method [a-zA-Z0-9\\]+::action[a-zA-Z0-9\\]+\(\) has no return type specified#'
    		- '#Method [a-zA-Z0-9\\]+Controller::[a-zA-Z0-9\\]+\(\) has parameter \$[a-zA-Z0-9]+ with no type specified#'
    		- '#Dynamic call to static method PHPUnit\\Framework\\Assert::.*#'
    		- '#File is missing a "declare\(strict_types=1\)" declaration#'
    		- '#Class [a-zA-Z0-9\\]+ is neither abstract nor final#'
    		- '#Language construct isset\(\) should not be used.#'
    polluteScopeWithLoopInitialAssignments: false
    polluteScopeWithAlwaysIterableForeach: false
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    reportMaybesInMethodSignatures: true
    reportStaticMethodSignatures: true
    ergebnis:
    		classesAllowedToBeExtended:
    		    - yii\base\Model
    		    - yii\filters\auth\AuthMethod
    		    - yii\base\BaseObject
    		    - frontend\assets\WebpackAsset
    		    - frontend\models\Category
    		    - frontend\models\Menu
    		    - frontend\models\Restaurants
    		    - yii\base\Module
    		    - yii\db\ActiveRecord
    		    - yii\rest\Controller
    		    - yii\web\AssetBundle
    		    - yii\web\Controller
    		    - yii\console\Controller
    		    - Codeception\Test\Unit
    		    - common\component\RocketChat
    		    - common\models\Order
    		    - common\models\User
    		    - kartik\daterange\DateRangeBehavior
    		    - kartik\daterange\DateRangePicker
    		    - League\Fractal\TransformerAbstract
    		    - MyCLabs\Enum\Enum
    		    - yii\base\Component
    		    - yii\base\Event
    		    - yii\base\Widget
    		    - yii\bootstrap\Widget
    		    - yii\grid\ActionColumn
    		    - yii\grid\Column
    		    - yii\redis\ActiveRecord
    		    - yii\test\ActiveFixture
    		    - yii\widgets\InputWidget
includes:
	#- /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- /tools/.composer/vendor-bin/phpstan/vendor/ergebnis/phpstan-rules/rules.neon
	- %currentWorkingDirectory%/vendor/timeweb/phpstan-enum/extension.neon
	- %currentWorkingDirectory%/phpstan-baseline-frontend.neon
	- %currentWorkingDirectory%/phpstan-baseline-common.neon
services:
    # bellow are rules from phpstan/phpstan-strict-rules without VariablePropertyFetchRule and VariablePropertyFetchRule rules
    -
        class: PHPStan\Rules\Cast\UselessCastRule
        arguments:
            treatPhpDocTypesAsCertain: false
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\DisallowedConstructs\DisallowedImplicitArrayCreationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\ForeachLoop\OverwriteVariablesWithForeachRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Functions\MissingFunctionParameterTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Functions\MissingFunctionReturnTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Methods\MissingMethodParameterTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Methods\MissingMethodReturnTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Methods\WrongCaseOfInheritedMethodRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandInArithmeticPostDecrementRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandInArithmeticPostIncrementRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandInArithmeticPreDecrementRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandInArithmeticPreIncrementRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticAdditionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticDivisionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticExponentiationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticModuloRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticMultiplicationRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperandsInArithmeticSubtractionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Properties\MissingPropertyTypehintRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\StrictCalls\DynamicCallOnStaticMethodsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\StrictCalls\StrictFunctionCallsRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\SwitchConditions\MatchingTypeInSwitchCaseConditionRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\VariableVariables\VariableMethodCallRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\VariableVariables\VariableStaticMethodCallRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\VariableVariables\VariableStaticPropertyFetchRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\VariableVariables\VariableVariablesRule
        tags:
            - phpstan.rules.rule
    -
        class: PHPStan\Rules\Operators\OperatorRuleHelper
    # end phpstan/phpstan-strict-rules
    # start rules from ergebnis/phpstan-rules
    -
        class: Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
        tags:
            - phpstan.rules.rule
    -
        class: Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
        tags:
            - phpstan.rules.rule
    -
        class: Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
        tags:
            - phpstan.rules.rule
    # end rules from ergebnis/phpstan-rules
