parameters:
    excludes_analyse:
        - %currentWorkingDirectory%/frontend/views/*
        - %currentWorkingDirectory%/frontend/web/index.php
        - %currentWorkingDirectory%/frontend/tests/*
        - %currentWorkingDirectory%/console/migrations/*
        - %currentWorkingDirectory%/common/tests/_support/UnitTester.php
    customRulesetUsed: true
    bootstrap: %currentWorkingDirectory%/phpstan-bootstrap.php
    ignoreErrors:
    		- '#Call to deprecated method className\(\) of class yii\\base\\BaseObject#'
includes:
	- %currentWorkingDirectory%/vendor/phpstan/phpstan-deprecation-rules/rules.neon
