*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; //from body element
}
table {
    border-collapse: collapse;
}
// Body
//
// 2. As a best practice, apply a default `background-color`.
// 3. Set an explicit initial text-align value so that we can later use
//    the `inherit` value on things like `<th>` elements.
body {
    box-sizing: border-box;
    font-weight: $font-weight-base;
    line-height: $line-height-base;
    color: $body-color;
    text-align: left; // 3
    background-color: $body-bg; // 2
}

a {
    text-decoration: none;
    color: $color-primary-light;
}
