* {
    font-family: 'Open Sans';
}

html,
body {
    height: 100%;
    background-color: #F5F3EE;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

}

.wrap > .container {
    padding: 100px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #333;
    /* border-top: 1px solid #ddd; */
    padding-top: 20px;
    color: #fff;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.navbar-brand img{
    height: 100%;
    width: 100%;

}
.navbar-brand {

    padding: 0px;


}
.breadcrumb{

    background-color: transparent;

}
.navbar-inverse{
    background-color: #7D1935;
    border: 0;
    padding: 20px 0;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: white;
    background-color: #9d9d9d;
}
.navbar.navbar-inverse h1 {
    color: white;
}

.restaurant{
    float: left;
    display: inline-block;
    width: 23%;
    overflow: hidden;
    text-overflow: clip;
    background: #fff;
    margin: 0 5px 20px 5px;
}
.restaurant-image> a> p> img{

    width: 100%;
    height: 100%;
    border: 2px solid white;



}
.restaurant-image{
    width: 100%;
    max-height: 200px;
    height: 150px;
    background-size: cover;
    background-position: center;
}

.content{
    color: black;
    width:  150px;

}
#sidebarDiv{
    width: 15%;
    height: auto;
    position: fixed;
    padding: 0 10px;
}
#sidebar {
    color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: 'Open Sans';
}
#sidebar li{
    background: #fff;
    padding: 10px;
    margin: 5px 0;
}
#sidebar li:last-child {
    background-color: transparent;
    color: #7D1935;
}
#sidebar li:last-child:hover:not(.active) {
    background-color: red;
}
#sidebar li a{

    text-decoration: none;
    color:black;
}
#sidebar li:hover:not(.active){
    background-color: #CF2020;


}
#sidebar li a.active {
    background-color: #4CAF50;
    color: white;
}

#sidebar li:hover:not(.active) {
    background-color: rgba(125, 25, 53, 0.12);
    color: #7d1935;
}
#sidebar li a.hover:not(.active) {
    background-color: #555;
    color: white;
}
#sidebar li:first-child:active {
    background-color: lightcyan;
    /* background-color: #4CAF50;
    color: white;*/
}

#sidebar li:first-child:hover:not(.active) {
    background-color: transparent;

    /*background-color: #555;
    color: black;*/
}
.jumbotron{

    padding-top: 1px;

}
.info{


}
.content > h3 > a{

    color: black;

}
.content > h3 > a:hover{

    color:red;

}
.img-restaurant{
    max-height: 200px;
    max-width: 200px;


}

.img-circle{
    height: 100%;
    width: 100%;


}



div.img {
    border: 1px solid #ccc;
    /*margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    */
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}
.menuImg{
    margin: 20px 0;
}
.menuImage{
    width: 50px;
    height: 25px;

}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* delete image*/
div.img {
    position: relative;
    float:left;
    margin:5px;
}
div.img:hover img{
    opacity: 0.5;
}
div.img:hover span {
    display: block;
}
div.img span {
    position:absolute;
    display:none;
    cursor: pointer;

}
div.img span {
    top:40;
    left:100%;
}

#restaurants-tel_number{
    width: 120px;

}

#restaurants-delivery_price{
    width: 80px;
}
#restaurants-pack_price{
    width: 80px;
}
#menu-foodprice{
    width: 80px;
}
.file-caption-main{

    width:50%;

}

.navbar-inverse .navbar-nav > .active > a{
    color:#f5f3ee;
    background: none;
    border-bottom: 3px solid #f5f3ee;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background: #f5f3ee;
    /* border-bottom: 3px solid red; */
    color: #7d1935;
}
.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background: #983652;
}

.restaurant-name {
    font-size: 24px;
    font-weight: bold;
    margin:0;
}
.restaurant-name > a {
    text-decoration: none;
    color: #333;
}
.restaurant-content {
    font-family: 'Open Sans';
    padding: 10px;
}

@media (min-width: 1200px){
    .container {
        width: 90%;
    }
}

a {
    text-decoration: none;
    color: #ff3971;
}
.restaurant-details{
    font-size: 13px;
}
.restaurant-details-icon {
    width: 20px;
    margin-right: 6px;
}

.btn-custom {
    border-color: #7d1935;
    background: rgba(249, 179, 4, 0.1);
    color: #7d1935;
}

.restaurant-summary{
    color: #ff3971;
    font-weight: 800;
}

body table td.no-right-border {
    border-right: 1px solid transparent;;
}

#restaurants-card-container .row+.row {
    margin-top: 1rem;
}
